﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 class="text-center">Book Worm</h1>
   <form class="frm-word-count" method="post" action="Home/Index">
       <input type="url" class="form-control" name="url" placeholder="Enter the URL to the book you wish to analyse" required/>
       <button type="submit" class="btn btn-danger">Analyse</button>
   </form>
</div>