﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.frm-word-count{
    width: 60%;
    margin: 30px auto;
    border: 1px dotted #000;
    padding: 10px;
}

.frm-word-count input{
    width: 90%;
    margin: 20px auto;
}

.frm-word-count button{
    display: block;
    width: 70%;
    margin: 0 auto;
    border-radius: 2px;
}
